label {
  margin-left: 2em;
}
.byline {
  font-style: italic;
  font-size: smaller;
}


.states {
  background-color: #9acfea;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 20%;
  display: block;
  text-align: center;
  border-bottom: 2px black solid;
}
.state-container {
  border: 2px solid black;
  border-radius: 5px;
  width: 20%;
  margin-left: 40%;
  z-index: 2;
}
.state-container-title {
  text-align: center;
  border-bottom: 1px solid black;
}
.state-container-body {
  height: 50px;
  overflow: hidden;
}

.state-container-body-oncanvas {
  height: 200px;
  overflow: hidden;
}
.state-container-oncanvas {
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 10%;
  height: 150px;
  position: "absolute";
  overflow: hidden;
}
.deleteButton{
  float:right;
  border: 2px solid red;
}
.deleteButton:hover{
  cursor: pointer;
  background-color: gray;
  color: white;
}
.deleteButton{
  float:right;
  border: 2px solid red;
}
.behaviours {
  background-color: #9acfea;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 40%;
  display: block;
  text-align: center;
  border-bottom: 2px black solid;
}
.behaviour {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  white-space: nowrap;
  z-index: 2;
  margin-left: 7px;
  margin-top: 5px;

}

.behaviour-oncanvas{
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  white-space: nowrap;
  z-index: 2;
  margin-left: 7px;
  margin-top: 5px;
  font-size: 12px;
}

.eventlist {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  white-space: nowrap;
  z-index: 2;
  margin-left: 7px;
  margin-top: 5px;
}

.events {
  background-color: #9acfea;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 40%;
  display: block;
}
#theCanvas {
  position: absolute;
  top:0px;
  left:25%;
  z-index:-1;
  
 

}

.canvas {
  background-color: rgba(0,0,0,0);
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left:25%;
}
