#users {
    border-collapse: collapse;
    width:70%;
	height:30px;
	margin: 3% auto;
	overflow: scroll;
	
  }
  
 
  @media screen and (max-width:780px) {
     #users {
              max-width: 425px;
       }
	   .buttonclass {
				width: 40%;
	 }
}
 @media screen and (min-width:780px) {
		.buttonclass{
		width: 25%;
		}
 }
  body {
       font-family: "Lato", sans-serif;
       color: #384047;
       display: block;
       margin: 0px;

}

#users img{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  transition: all .2s ease-in-out;
}

  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
	
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7d7d7d;
    color: white;
  }

.buttonclass:hover{
  transform: scale(1.1);
}
.buttonclass {
       display: inline;
       padding: auto;
       color: #fff;
       /*background-color: #7d7d7d;*/
       font-size: 18px;
       text-align: center;
       /*font-style: normal;*/
       border-radius: 5px;
       height: 35px;
      /* border: 1px solid #5a5a5a;
       border-width: 1px 1px 3px;
       box-shadow:0 -1px 0 rgba(255,255,255,0.1) inset;*/
       
}
.saveButton{
	text-decoration: none;
	float: right;
	display: block;
	color: #f2f2f2;
	text-align:center;
	padding: 26px 20px;
	font-size:20px;
}

.saveButton:hover{
	text-decoration: none;
	background-color: #ddd;
	color: black;
}
.sideButton{
	   display: inline;
       padding: auto;
       color: #fff;
	   font-size: 18px;
       text-align: center;
	   border-radius: 5px;
       width:70%
}

.run{
	border: 1px solid #42cad4;
    border-width: 1px 1px 3px;
	background-color:#42cad4;
}
.delete{
	border: 1px solid #d44242;
	border-width: 1px 1px 3px;
	background-color:#d44242;
	margin-left:5px;
}

.sidenav{
	padding: 35px;
	background-color:#86d1ff;
	
	
}

.tableUser{
	height:850px;
	overflow:auto;
	margin-top:30px;
	}
.content{
	height:904px;
}
.top-bg{
	margin: 0px;
	padding: 0px 0px 0px 35px;
	background-color:#547592 !important;
	
}
.top-bg h3{
	color:white !important;
}
.row1{
	margin:0 !important;
}