* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	color: #384047;
	display: block;
	margin: 0px;
}

form {
	align-items: center;
	align-content: center;
	position: absolute;
	top: 60.5%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 400px;
	/*margin:auto;*/
	padding: 10px 20px;
	background-color: transparent;
	border-radius: 8px;
}

.txt {
	/* background: rgba(255,255,255,0.1); */
	border: none;
	font-size: small;
	height: 30px;
	margin-left: 30px;
	padding: 2px;
	width: 80%;
	background-color: transparent;
	color: #8a97a0;
	/* bax-shadow: 0 1px 0 rgb(0,0,0,0.3) inset; */
	margin-bottom: 20px;
}

.buttonclass {
	display: block;
	padding: auto;
	color: #fff;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 50%;
	height: 85px;
	margin: auto;
	margin-top: 30px;
}
.buttonclass:hover{
	cursor: pointer;
}
.buttonclass:focus{
	outline:none;
}

.back {
	/* padding-top:200px;*/
	height: 100vh;
	background: 100% 100%;
	background-image: url('./resources/images/login-page.png');
	width: 100%;
	margin: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
	margin: 10px 0 30px 0;
	text-align: center;
}

@media screen and (min-width:350px) {
	form {
		max-width: 400px;
	}
}

@media screen and (min-width:250px) {
	form {
		min-width: 200px;
	}
}

@font-face{
	font-family:'heavy_data';
	src: url('./resources/css/heavy_data.ttf');
   }


   input[type="text"]{
	font-size: 20px;
	color: #39ff14 !important;
	font-family: 'heavy_data';
  }
  input[type="password"]{
	font-size: 20px;
	color: #39ff14 !important;
	font-family: 'heavy_data';
  }
  input:focus{
	outline: none;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #39ff14;
	opacity: 1;
	font-family: 'heavy_data';
	font-size: 20px;
  }