label {
  margin-left: 2em;
}
.byline {
  font-style: italic;
  font-size: smaller;
}
.states {
  background-image: url("../images/left-top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 35%;
  display: block;
  text-align: center;
  padding-top: 110px;
  padding-left: 69px;
  padding-right: 69px;
}
.state-container {
  /* border: 2px solid black; */
  border-radius: 5px;
  width: 20%;
  margin: auto;
  z-index: 2;
}
.stateOuterDiv{
  background-image: url("State2.png");
  background-repeat: no-repeat;
  background-size: contain;
  height:200px;
  width: 267px;
}
.stateOuterDiv-menu{
  background-image: url("State2.png");
  background-repeat: no-repeat;
  background-size: contain;
  height:130px;
  width: 90px;
}
.state-container-title {
  text-align: center;
  /* border-bottom: 1px solid black; */
}
.state-container-title-oncanvas {
  text-align: center;
  /* border-bottom: 1px solid black; */
  height:40px;
  color: white;
}
.state-container-body {
  height: 50px;
  overflow: hidden;
}

.state-container-body-oncanvas {
  height: 100px;
  overflow: auto;
}
.state-container-oncanvas {
  /* background: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 10%;
  height: 150px;
  position: "absolute";
  overflow: hidden; */
  border-radius: 5px;
  width: 50%;
  height: 150px;
  position: "relative";
  overflow: hidden;
  margin: auto;
  margin-top: 0%;
}
.deleteButton{
  float:right;
  background-image: url("../images/deleteButton2.png");
  height:25px;
  width :25px
}
.deleteButton:hover{
  cursor: pointer;
  background-color: gray;
  color: white;
}
.behaviours {
  background-image: url("../images/left-mid.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 25%;
  display: block;
  text-align: center !important;
  /* border-bottom: 2px black solid; */

  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  
}
.behaviour {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  white-space: nowrap;
  z-index: 2;
  margin: auto;
  margin-top: 5px;
  color: white;
}

.behaviour-oncanvas{
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  white-space: nowrap;
  z-index: 0;
  margin-left: 7px;
  margin-top: 5px;
  font-size: 12px;
  position: relative;
  background-color: rgb(116, 168, 218);
  color: black;
}
.behaviour-oncanvas::before{
  content: '';
  width: 2px;
  height: 12px;
  background: gray;
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -2px;
  z-index: -1;
}

.eventlist {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  white-space: nowrap;
  z-index: 2;
  margin: auto;
  margin-top: 5px;
  color: white;
}

.events {
  /* background-color: #9acfea; */
  background-image: url("../images/left-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 30%;
  display: block;
  text-align: center;
  padding-top: 20px;

}
#theCanvas {
  background-image: url("../images/canvasBG.svg");
  background-repeat: no-repeat;

  position: absolute;
  top:0px;
  left:16.66%;
  z-index:-1;
}

.canvas {
  background-color: rgba(0,0,0,0);
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: scroll;
  height: 100%;
}

.navbarC{
  margin-left: -15px !important;
  margin-right: -15px !important;
  padding-left: -15px !important;
  padding-right: -15px !important;
  margin: 0 !important;
  background-image: url("../images/top2.png");
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navbarCAdmin{
  margin-left: -15px !important;
  margin-right: -15px !important;
  padding-left: -15px !important;
  padding-right: -15px !important;
  margin: 0 !important;
  background-image: url("../images/top2Admin.png");
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logoDivTopBar{
  background-image: url("../images/logo-circle.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 270px;
  width: 270px;
  float: left;
  position: absolute;
  z-index: 2;
  /* margin-left: 5px; */
}
@font-face{
  font-family:'heavy_data';
  src: url('heavy_data.ttf');
 }
body h4{
  font-family: 'heavy_data';
  color: #00ffff;
}

.buttonsLeft {
  background-image: url("../images/admin-left.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  display: block;
  text-align: center !important;
  /* border-bottom: 2px black solid; */

  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  
}